<!DOCTYPE html>
{% load staticfiles i18n lazysignup_tags %}
<html lang="en">
    <head>
        <title>{% block title %}Do you like it?{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	<script src="{% static 'js/semantic.js' %}"></script>
    </head>

    <body>
        <header>
            {% if not user|is_lazy_user %}
                Hello, {{ user.username }}
            {% else %}
                <a href="/accounts/login?next={{request.path}}">Log in</a>
            {% endif %}
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
