services:
  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=doyoulikeit
    ports:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    logging:
      options:
        max-size: 10m
        max-file: "3"
  app:
    build:
      context: .
    environment:
      - DATABASE_URL=postgres://postgres:1234@db/doyoulikeit?sslmode=disable
      - SECRET_KEY=your_secret_key_here
    depends_on:
      db:
        condition: service_healthy
