django-toolbelt==0.0.1
Django==1.6.5
behave==1.2.4
laconia==0.0.0
django-behave==0.1.2
django-lazysignup==0.12.2
splinter==0.6.0
httpretty==0.8.3
-e git+git://github.com/avengerpenguin/hyperspace#egg=hyperspace
PyHamcrest==1.8.0
mechanize==0.2.5
