django-toolbelt==0.0.1
Django==1.6.5
laconia==0.3.0
django-lazysignup==0.12.2
hyperspace==0.0.5
django12factor==1.1
django-allauth==0.18.0
testypie==0.4.0
django-session-stashable==1.0
httplib2==0.9
gunicorn==19.2.1
