{% extends "base.html" %}

{% block content %}

<article itemscope itemtype="http://schema.org/Thing" itemid="{{ thing.iri }}">

    {% if already_voted %}
        <p>You like it.</p>
    {% else %}
    <form action="/things/{{ thing.pk }}/likes/{{user.id}}" method="post" name="like">
        {% csrf_token %}
        <input type="submit" value="Yes" class="ui animated fade button"/>
    </form>
    {% endif %}

    <h1 itemprop="http://schema.org/name" class="ui header">{{ thing.schema_name}}</h1>

    {% if thing.schema_description %}
      <p itemprop="http://schema.org/description">{{ thing.schema_description }}</p>
    {% endif %}

</article>

{% endblock %}
