{% extends "base.html" %}

{% block content %}

<article itemscope itemtype="http://schema.org/Thing" itemid="{{ thing.pk }}">

    {% if already_voted %}
        <p>You like it.</p>
    {% else %}
    <form action="{{ request.get_full_path }}/likes/{{user.id}}" method="post">
        {% csrf_token %}
        <input type="submit" value="Yes" class="ui animated fade button"/>
    </form>
    {% endif %}

    <h1 itemprop="http://schema.org/name" class="ui header">{{ thing.rdfs_label}}</h1>

    <p itemprop="http://schema.org/description">{{ thing.rdfs_comment }}</p>

</article>

{% endblock %}
