<!DOCTYPE html>
{% load staticfiles i18n %}
<html lang="en">
    <head>
        <title>{% block title %}Do you like it?{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	<script src="{% static 'js/semantic.js' %}"></script>
    </head>

    <body>
        <header>
            <p class="siteheader">Do You Like It?</p>
            {% if request.user.is_authenticated %}
                <p>Hello, {{ request.user.username }}</p>
            {% else %}
                <a href="/accounts/login/?next={{request.path}}" rel="login">Log in</a>
                <a href="/accounts/signup/?next={{request.path}}" rel="register">Register</a>
            {% endif %}
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
