<!DOCTYPE html>
{% load staticfiles i18n %}
{% load compile_static %}
{% load less %}
<html lang="en">
<head>
    <title>{% block title %}Do you like it?{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.10.2/semantic.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'css/style.less' %}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.10.2/semantic.min.js"></script>
</head>

<body vocab="http://schema.org/">
    <header class="ui basic inverted segment">
        <p class="ui header">Do You Like It?</p>

        <nav>
            {% if request.user.is_authenticated %}
                <p class="item">Hello, {{ request.user.username }}</p>
            {% else %}
                <p>
                    <a class="item" href="/accounts/login/?next={{request.path}}" rel="login">Log in</a>
                    /
                    <a class="item" href="/accounts/signup/?next={{request.path}}" rel="register">Register</a>
                </p>
            {% endif %}
        </nav>
    </header>

    {% block content %}{% endblock %}
</body>
</html>
