@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Raleway);

header p.siteheader {
    float: right;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.6rem;
    margin: 1em;
}

article {
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
    max-width: 40em;
    margin: 0 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

h1 {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

h1.ui.header {
    font-size: 1.4rem;
}

p {
    line-height: 130%;
    font-size: 0.8rem;
}

form {
    max-width: 40em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
}

div.links {
    margin-top: 1em;
}

article img.depiction {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    max-height: 200px;
}