name: Deploy to Scaleway

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Scaleway Container Registry
      uses: docker/login-action@v3
      with:
        username: nologin
        password: ${{ secrets.SCALEWAY_API_KEY }}
        registry: ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}
    - name: Build and push
      id: build
      uses: docker/build-push-action@v6
      with:
        push: ${{ github.ref == 'refs/heads/main' }}
        tags: ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/doyoulikeit:${{ github.run_number }}-${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: opentofu/setup-opentofu@v1

      - run: tofu -chdir=infra init -backend-config="profile="
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.SCALEWAY_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SCALEWAY_API_KEY }}

      - name: OpenTofu Apply
        run: tofu -chdir=infra apply -auto-approve -var "docker_tag=${{ github.run_number }}-${{ github.sha }}"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.SCALEWAY_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SCALEWAY_API_KEY }}
          AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
          AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
          AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
          NEON_API_KEY: ${{ secrets.NEON_API_KEY }}
          SCW_ACCESS_KEY: ${{ secrets.SCALEWAY_ACCESS_KEY }}
          SCW_SECRET_KEY: ${{ secrets.SCALEWAY_API_KEY }}
